.ets-cd-countdown.flip .digits .text{
    color:ETS_CD_TIME_UNIT_COLOR;
}
.ets-cd-countdown.flip .digits .clock-group .digit,
.ets-cd-countdown.flip .digits .clock-group .digit .flap:before{
    color:ETS_CD_NUMBER_COLOR;
}
.ets-cd-countdown.flip .digits .clock-group .digit{
    background-color:ETS_CD_BACKGROUND_COLOR;
}
.ets-cd-countdown.flip .digits .clock-group .digit{
    border:1px solid ETS_CD_BORDER_COLOR;
}
.ets-cd-countdown.normal .dots,
.ets-cd-countdown.flip .dots{
    color:ETS_CD_BORDER_COLOR;
}
.ets-cd-countdown.normal .digits .text{
    color:ETS_CD_TIME_UNIT_COLOR;
}
.ets-cd-countdown.normal .digits .clock-group .digit{
    color:ETS_CD_NUMBER_COLOR;
}
.ets-cd-countdown.normal .digits .clock-group{
    background-color:ETS_CD_BACKGROUND_COLOR;
}
.ets-cd-countdown.normal .digits .clock-group{
    border:1px solid ETS_CD_BORDER_COLOR;
}