<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ets_banneranywhere</name>
    <displayName><![CDATA[Banner anywhere]]></displayName>
    <version><![CDATA[1.0.4]]></version>
    <description><![CDATA[Easily add banners on the Home page, Category page, product page, or wherever you want on your PrestaShop store]]></description>
    <author><![CDATA[ETS-Soft]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>